/* accueil.component.css */

.home-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .home-container h2 {
    color: #333;
  }
  
  .task-summary {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .task-summary p {
    margin: 10px 0;
    color: #555;
  }
  
  /* Ajouter un style pour le bouton ou le lien pour explorer la liste de tâches */
  .explore-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .explore-link:hover {
    background-color: #2980b9;
  }
  
  /* Ajouter un style pour le bouton */
.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9 ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 50px;
  }
  
  .explore-button:hover {
    background-color: #71b3df;
  }
  